.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.section {
  display: grid;
  width: 80%;
  text-align: center;
}

.addTask {
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.addTask svg {
  position: absolute;
  margin-left: 5px;
  margin-top: 1px;
}

.table {
  color: white;
  text-align: start;
}
